body {
    background-color: #f4f4f4;
}

.main-color-bg {
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color: #fff !important;
}

.card-padding {
    padding:  1rem;
}

.alert-position {
    width: 15%;
    top: 10%;
    left: 82%;
}

.card-table {
    height: 50vh;
    overflow: auto;
}

#remove-item {
    padding-left: 1rem;
    color: #e74c3c;
}

#remove-item:hover {
    cursor: pointer;
}

