body {
    background-color: #f4f4f4;
}

.main-color-bg {
    background-color: #e91e63 !important;
    border-color: #d81b60 !important;
    color: #fff !important;
}

.card-padding {
    padding:  1rem;
}

.alert-position {
    width: 15%;
    top: 10%;
    left: 82%;
}

.card-table {
    height: 50vh;
    overflow: auto;
}

.card-overflow {
    overflow: auto;
}

#remove-item {
    color: #e91e63;
}

#remove-item:hover {
    cursor: pointer;
}

.btn-equal {
    width: 200px;
    display: block;
}

